---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2025 - Present",
    title: "Junior Systems Administrator",
    company: "Eight Twelve Consulting",
    description:
      "As a Junior Systems Administrator at Eight Twelve Consulting, I manage Windows, Linux, and AWS-based systems to ensure high availability, scalable infrastructure, and optimized performance across cloud-native environments. I provide Tier 3 support for distributed systems, resolving automation failures and infrastructure issues tied to CI/CD pipelines, RBAC configurations, and incident response. I’ve provisioned EC2 instances using custom AMIs and automated deployments with Terraform, aligning with Infrastructure as Code principles. My work includes configuring VPCs with subnet CIDR blocks, route tables, NAT gateways, internet gateways, and security groups to build secure, segmented cloud architectures. I collaborate closely with senior IT staff to maintain infrastructure, monitor performance, and implement security best practices that support long-term scalability and engineering goals.",
  },

  
];
---

<div class="relative max-md:mt-0 mt-8 " aria-label="Professional experience ">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
