---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Oct 2025 - Present",
    title: "Ai Trainer",
    company: "Handshake AI",
    description:
      "As an AI Trainer Fellow at Handshake AI, I optimized annotation workflows for projects including Hedgehog, Lexicon, and Prism. I collaborated with ML engineers to refine training schemas, validated model outputs against gold-standard datasets, and authored documentation that reduced labeling ambiguity. Through systematic feedback loops, I improved model accuracy and streamlined communication between technical and non-technical teams.",
  },
  {
    date: "March 2025 - Present",
    title: "Software Engineer",
    company: "Eight Twelve Consulting",
    description:
      "At Eight Twelve Consulting, I provide Tier 3 support for cloud-native systems, resolving automation and infrastructure issues across distributed environments. I manage Windows, Linux, and AWS systems, provision EC2 instances with Terraform, and configure secure VPC architectures. I maintain and optimize internal websites built with TypeScript and JavaScript, and develop web tools using React and Flask to streamline operations. My work integrates secure APIs with OAuth 2.0 and supports CI/CD pipelines for scalable, production-ready deployments.",
  },


  
];
---

<div class="relative max-md:mt-0 mt-8 " aria-label="Professional experience ">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
