---
import Button from "../ui/Button.astro";
import Heading from "../ui/Heading.astro";
import Tools from "../portfolio/Tools.astro";
import { Icon } from "astro-icon/components";
import Hobbies from "../portfolio/Hobbies.astro";
import { AstroError } from "astro/errors";
import { getCollection} from "astro:content";

const [staticData] = await getCollection('staticData');

if (!staticData) {
  throw new AstroError("JSON data not found");
}
---

<section
  class="scroll-m-16 px-8 max-sm:px-4 py-8  min-h-screen bg-black"
  id="home"
  aria-label="Professional profile and introduction"
>
  <div
    class="mx-auto mb-4 h-96 w-full max-w-7xl rounded-2xl bg-gradient-to-r from-[#0e1726] via-[#10151c] to-[#0a0c10] hover:to-[#0e1726]/30 dark:from-[#0e1726] dark:to-[#0a0c10] p-[.2rem] max-md:h-auto shadow-xl"
  >
    <div
      class="group relative z-0 flex h-full items-center justify-center gap-8 overflow-hidden rounded-2xl bg-gradient-to-tr from-[#0e1726] to-[#10151c] p-4 transition-all hover:shadow-[0_10px_50px_rgba(0,0,0,0.2)] dark:bg-gradient-to-r dark:from-[#0e1726] dark:to-[#0a0c10] dark:overflow-hidden max-md:w-full max-md:gap-3 max-lg:gap-2 max-sm:flex-col before:bg-[radial-gradient(circle,rgba(129,140,248,0.1)_0,rgba(30,58,138,0.2)_100%)] before:absolute before:left-65 before:top-10 before:h-[40%] before:aspect-square before:rounded-full before:blur-3xl before:opacity-80 before:-z-10 before:transition hover:before:animate-pulse"
    >
      <div class="aspect-square h-4/5 max-md:size-32">
        <div
          class="group-hover:scale-105 relative z-10 flex w-full cursor-pointer items-center overflow-hidden rounded-full p-[2px] transition-all duration-500"
        >
          <div
            class="absolute inset-0 h-full w-full rounded-full from-transparent to-[#1e293b] dark:from-transparent dark:to-[#334155] animate-rotate-border bg-conic/[from_var(--border-angle)]"
          >
          </div>
          <div class="relative z-20 flex w-full rounded-full bg-[#10151c]">
            <div
              class="w-full aspect-square rounded-full bg-center bg-cover"
              style={`background-image: url(${staticData.data.profileImage})`}
              aria-label={staticData.data.profileAlt}
            >
              <a
                class="flex h-full w-full"
                aria-label="View about me page"></a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex h-full w-7/12 flex-col justify-center gap-4 p-4 max-md:w-full max-md:gap-2"
      >
        <span
          class="relative inline-flex items-center text-xs font-semibold leading-0 text-[#bfc9d1] max-md:font-medium max-sm:justify-center"
        >
          <span
            class="before:mr-2 before:block before:h-1.5 before:w-1.5 before:rounded-full before:bg-[#38bdf8] before:shadow-[0px_0px_0px_3px_rgba(56,189,248,0.5)] before:animate-pulse before:content-['']"
          ></span>
          Available for work
        </span>
        <h1
          class="text-4xl font-black leading-none text-white max-xl:text-3xl max-lg:text-2xl  max-sm:text-center drop-shadow-[0_2px_8px_rgba(0,0,0,0.2)]"
        >
          {staticData.data.profileName} 👋
        </h1>
        <p
          class="mb-0 text-lg font-semibold leading-8 text-[#bfc9d1] max-xl:text-base"
        >
          <span
            class="bg-gradient-to-r from-[#38bdf8] to-[#818cf8] bg-clip-text font-black text-transparent"
            > </span>
          I'm an international student from Jamaica, balancing academics with my role as a Junior Systems Administrator. I thrive on problem-solving, exploring new technologies, and growing through challenges. Tech is more than a career, it’s where I learn, collaborate, and innovate.
        </p>
        <div class="flex gap-4 max-sm:flex-col max-sm:items-center">
          <Button
            link="/cloudresume.pdf"
            text="Cloud Resume"
            iconName="cloud"
            variant="dark"
          />
          <Button
            link="/airesume.pdf"
            text="AI/ML Resume"
            iconName="ai"
            variant="dark"
          />
          <Button
            link="/webresume.pdf"
            text="Web Development Resume"
            iconName="web"
            variant="dark"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto grid max-w-7xl grid-cols-2 grid-rows-4 max-sm:gap-3 gap-4 max-md:h-[80vh] max-sm:h-[900px] max-xl:h-[550px] xl:h-[700px] md:grid-cols-4 md:grid-rows-2"
  >
    <div
  class="col-start-2 row-start-2 flex flex-col gap-3 rounded-2xl border border-[#334155]/30 bg-gradient-to-r from-[#4889E8] via-[#2F63C7] to-[#1E3A8A] p-8 dark:border-[#334155]/40 dark:border-2 dark:bg-gradient-to-r dark:from-[#4889E8] dark:to-[#1E3A8A] max-md:gap-0 max-xl:p-5 max-md:p-4 max-lg:gap-1 md:col-start-4"
>
      <div class="flex flex-col-reverse items-start gap-4 max-md:gap-2">
        <Heading text="Beyond the Code" level={3} />
      </div>
      <div class="overflow-y-auto">
        <Hobbies />
      </div>
    </div>
    <div
      class="col-start-1 row-start-2 rounded-2xl bg-gradient-to-r from-[#0e1726] via-[#10151c] to-[#0a0c10] hover:to-[#0e1726]/30 dark:from-[#0e1726] dark:to-[#0a0c10] p-[.2rem] transition-all ease-in duration-150 hover:scale-105 hover:shadow-[0_20px_50px_rgba(56,189,248,0.2)] z-40 md:col-start-3"
    >
      <div class="h-full w-full overflow-hidden rounded-2xl dark:bg-[#10151c]">
        <div
          class="relative h-full w-full overflow-hidden rounded-2xl bg-gradient-to-tr from-[#0e1726] to-[#10151c] dark:from-transparent dark:bg-gradient-to-bl dark:to-transparent "
        >
          <a
            target="_blank"
            href="https://github.com/Stefodan21/Stefodan21.github.io.git"
            aria-label="View this site's code repository on GitHub"
          >
            <div
              class="relative flex h-full flex-col gap-8 p-8 before:bg-[radial-gradient(circle,rgba(56,189,248,0.1)_0,rgba(14,23,38,0.2)_100%)] before:absolute before:left-30 before:bottom-30 before:h-[30%] before:aspect-square before:rounded-full before:blur-3xl before:opacity-90 before:transition before:z-0 max-xl:p-5 max-md:p-4 xl:before:bottom-10"
            >
              <div class="z-2">
                <Heading text="Do you like this site's design?" level={3}/>
              </div>
              <Icon
                class="absolute -bottom-10 left-30 size-50 text-[#38bdf8]/30 group-hover:animate-pulse ease-in-out max-sm:left-10 max-md:left-30 xl:size-56 xl:-bottom-5 xl:-right-24"
                name="github-octocat"
                aria-hidden="true"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      class="col-span-2 col-start-1 row-start-1 rounded-2xl bg-gradient-to-r from-[#0e1726] via-[#10151c] to-[#0a0c10] hover:to-[#0e1726]/30 dark:from-[#0e1726] dark:to-[#0a0c10] p-[.2rem] md:col-start-3"
    >
      <article
        class="group relative z-0 flex h-full w-full flex-col overflow-hidden rounded-2xl bg-gradient-to-r from-[#1E40AF] via-[#1E3A8A] to-[#0F172A] p-6 transition hover:shadow-[0_10px_50px_rgba(15,23,42,0.1)] dark:bg-gradient-to-r dark:from-[#1E40AF] dark:to-[#0F172A] dark:overflow-hidden max-md:p-4 gap-6 max-md:gap-3 max-lg:gap-4 before:bg-[radial-gradient(circle,rgba(15,23,42,0.1)_0,rgba(30,58,138,0.2)_100%)] before:absolute before:left-30 before:-bottom-0 before:h-[80%] before:aspect-square before:rounded-full before:blur-3xl before:opacity-30 before:-z-10 before:transition"
      >
          
        <div class="flex items-center gap-4 max-md:gap-2 ">
          <Icon
            class="text-3xl text-[#38bdf8] max-md:text-2xl max-sm:text-sm"
            name="dashboard"
            aria-hidden="true"
          />
          <Heading text="Tech" textGradient="Stack" level={3} />
        </div>
        <div class="overflow-y-auto">
          <Tools />
        </div>
      </article>
    </div>
    <div
      class="col-span-2 row-span-2 rounded-2xl bg-gradient-to-r from-[#0e1726] via-[#10151c] to-[#0a0c10] p-[.2rem] hover:to-[#0e1726]/30 dark:from-[#0e1726] dark:to-[#0a0c10] md:col-start-1 md:row-start-1"
    >
      <article
        class="group relative flex h-full flex-col justify-start overflow-hidden rounded-2xl bg-gradient-to-br from-[#38bdf8] to-[#818cf8] dark:from-[#0e1726] dark:to-[#0a0c10] p-8 transition-all hover:shadow-[0_20px_50px_rgba(56,189,248,0.2)] max-md:p-6 before:bg-[radial-gradient(circle,rgba(56,189,248,0.1)_0,rgba(129,140,248,0.2)_100%)] before:absolute before:left-1/2 before:top-0 before:w-full before:h-full before:aspect-square before:rounded-full before:blur-3xl before:opacity-70 before:transition before:-z-0 hover:before:animate-pulse xl:before:bottom-2/5"
      >
        <a
        
          class="absolute left-0 top-0 z-40 h-full w-full bg-transparent"
          aria-label="View projects section"></a>
        <div class="flex items-center gap-4 max-md:gap-2">

          </span><Heading textGradient="Certifications" level={3}/>
        </div>
       <p
  class="z-2 my-6 text-lg font-semibold leading-6 text-[#bfc9d1] max-xl:text-base max-w-[90%] max-md:max-w-[85%]"
>




  
  <div  class="relative z-[50] flex flex-wrap justify-center gap-6">
  <a
  href="https://www.credly.com/badges/98179a79-0e1d-4e7a-ab1f-3f9bab0b7712/public_url"
  target="_blank"
  rel="noopener noreferrer"
  >
  <img src="/aws-partner-technical-accredited.png" alt="AWS Partner Badge" class="w-[200px] h-auto transform transition duration-200 hover:scale-150  " />
  </a>
  <a
  href="https://www.credly.com/badges/31b34ad2-447e-4e51-a888-3b1f9e92f957/public_url"
  target="_blank"
  rel="noopener noreferrer"
  >
  <img src="/aws-partner-cloud-economics-essentials.png"  alt="Cloud Economics Badge" class="w-[200px] h-auto transform transition duration-200 hover:scale-150  " />
  </a>
  <a
  href="https://www.credly.com/badges/987da471-6f86-4207-81dd-aabba2dd70f9/public_url"
  target="_blank"
  rel="noopener noreferrer"
  >
  <img src="/aws-partner-sales-accreditation.png"  alt="Sales Accreditation Badge" class="w-[200px] h-auto transform transition duration-200 hover:scale-150  " />
  </a>
  <!-- Add more badges here -->
</div>



  

<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

      </article>
    </div>
  </div>
</section>
